@use "variables" as *;
@use "mixins" as *;
.topbar {
  @include card;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  gap: 12px;
}

.logo {
  height: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.nav {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    a {
      padding: 8px;
      border-radius: 10px;
      border-color: $panelBorder;
      background: rgba(255, 255, 255, 0.05);
      color: $text;
      text-decoration: none;
    }
    a[aria-current="page"]{
      color: $muted;
    }
}

.button {
  @include button-style;
  &:hover {
    background: color-mix(in oklab, $primaryBgColour, #000 15%);
    transition: all 0.2s ease;
  }
}


.hero {
  @include card;
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  min-height: 400px;
  background: linear-gradient(rgba(18, 11, 82, 0.2), rgba(8, 4, 41, 0.95));

}

.hero-column {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 24px;
}

.hero-media {
  justify-content: center;
  display: flex;
  align-items: center;
}

.hero-image {
    border-radius: 10px;  
    box-shadow: $shadow;
    width: min(300px, 100%);
    animation: imagefadeup 500ms ease-out both;
}

@keyframes imagefadeup{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
   opacity: 1;
   transform: translateY(0); 
  }
}

.hero-eyebrow {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 10px;
}

.hero-text {
  line-height: 2;
  margin: 0;
}

.hero h2 {
  margin: 0 0 20px;
}

.hero-actions {
  display: flex;
  gap: 12px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.button-secondary {
  background: $secondaryBgColour;
}
