$bg: #000c1f;
$panel: rgba(1, 21, 54, 0.75);
$panelBorder: rgba(2, 34, 87, 0.8);
$text: #FFFFFF;
$padding: 5px;
$primaryBgColour: #212861;
$secondaryBgColour: #060924;
$muted: #78909C;
$shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
